body {
  font-family: Helvetica, Arial, san-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  font-size: 36px;
  font-weight: 200;
}

h2 {
  font-size: 24px;
  font-weight: 200;
  clear: both;
}

figcaption {
  text-align: center;
}

input {
  font-size: 18px;
  line-height: 24px;
  padding: 6px 12px;
  width: 200px;
  margin-bottom: 12px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius:  5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #242424;
  text-align: center;
  padding: 12px 0;
  border: 1px solid rgba(0,0,0,0.2);
  color: #999;
  font-weight: 200;
  line-height: 24px;
}

footer a {
  text-decoration: none;
  color: #ccc;
}

footer a:hover {
  color: #fff;
}

.color-app {
  min-width: 940;
  max-width: 1248;
  width: 80%;
  margin: 48px auto;
}

.color-scheme {
  font-family: Courier, monospace;
  clear: both;
}

.color {
  float: left;
  width: 20%;
  margin: 0 0 12px 0;
}

.color > div{
  width: 80%;
  margin: 0 auto;
  height: 100px;
  border-radius:  5px;
}

.swatch > div{
  border: 1px solid rgba(0,0,0,.1);
}

.rainbow {
  width: 54px;
  height: 24px;
  padding-right: 12px;
  background: url(../images/rainbow.gif) no-repeat;
  float: right;
  text-indent: -999999px;
}

